* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text-center {
  text-align: center;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.align-center {
  display: flex;
  align-items: center;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 30%;
}

.search-bar {
  margin-bottom: 10px;
  background-color: #ff8800;
  padding: 5px 35px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-align: center;
}

.search-bar input {
  padding: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  text-align: left;
  width: 70%;
  height: 30px;
}

.search-bar button {
  padding: 10px;
  border: none;
  background-color: #ff8800;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.info-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.city-and-country {
  display: flex;
  flex-wrap: wrap;
}

#weather-icon {
  width: 30px;
  height: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 2px;
}

.temperature-card {
  display: flex;
}

.card h2 {
  margin: 20px 0;
}

.label {
  font-weight: bold;
  color: #555;
}
